<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="banco-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy login</h2>
    <input type="text" id="txtLogin"/>
    <input type="text" id="txtPassword"/>
    <button on-click="validarUsuario">Login</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BancoLogin extends Polymer.Element {
      static get is() { return 'banco-login'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'banco-login'
          }
        };
      }
      validarUsuario() {
        console.log("Login OK");
        var res = "Usuario logado";
        this.dispatchEvent(new CustomEvent('logged', {detail: {"nombre":res, "modelo":"Fernando"}}));
        
      }
      cerrarSesion() {
        console.log("Sesión cerrada");
        this.dispatchEvent(new CustomEvent('loggedout', {}));
      }
    }

    window.customElements.define(BancoLogin.is, BancoLogin);
  </script>
</dom-module>
