<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="/src/banco-login/banco-login.html">
<link rel="import" href="/src/mensaje-app/mensaje-app.html">

<dom-module id="navegacion-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <app-location route="{{ruta}}"></app-location>
    <app-route route="{{ruta}}" pattern="/bancaonline" data="{{datoruta}}" tail="{{subruta}}"></app-route>
    <app-route route="{{ruta}}" pattern="/" data="{{datoRuta}}" tail="{{subruta}}"></app-route>
    <!-- iron-pages selects the view based on the active route -->
    <h1>Prueba</h1>
    <div hidden$="{{logged}}">
      <banco-login id="loginEjemplo" on-logged="gestionarLogged"></banco-login>
    </div>
    <div hidden$="{{!logged}}">
      <mensaje-app prop1="Movimientos"></mensaje-app>
      <mensaje-app prop1="Saldos"></mensaje-app>
      <mensaje-app prop1="Cuentas"></mensaje-app>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NavegacionApp extends Polymer.Element {
      static get is() { return 'navegacion-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'navegacion-app'
          },
          ruta: {
            type: Object
          },
          datoruta: {
            type: Object
          },
          logged: {
            type: Boolean,
            value: false
          }
        };
      }
      gestionarLogged(e) {
        this.set('ruta.path', '/bancaonline');
        this.set('datoruta', {valor:"xxxx"});
        console.log(e);
        console.log(e.detail.nombre);
        console.log(e.detail.modelo);
        console.log(this.$.loginEjemplo.prop1);
        this.$.loginEjemplo.prop1 = "Valor nuevo";
        console.log(this.$.loginEjemplo.prop1);
        this.$.loginEjemplo.cerrarSesion();
        this.$.hijo1.prop1 = 7;
        this.$.hijo2.prop1 = 14;
        //console.log(e.nombre);
        this.logged = true;
      }
      gestionarLoggedOut() {
        this.logged = false;
        this.movimientos = [];
      }
    }

    window.customElements.define(NavegacionApp.is, NavegacionApp);
  </script>
</dom-module>
