<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mensaje-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>{{prop1}}</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MensajeApp extends Polymer.Element {
      static get is() { return 'mensaje-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mensaje-app'
          }
        };
      }
    }

    window.customElements.define(MensajeApp.is, MensajeApp);
  </script>
</dom-module>
